body {
	background-color:#eaeaea;
}

body, div, header, footer, nav, li, img, p, h1, h2, a, ul {
	margin: 0;
	padding:0;
	border:0;
	font-size: 100%;
	vertical-align:baseline;

}

*, *:before, *:after {
	box-sizing:border-box;
	border:0;
}
.clearfix:before, .clearfix:after {
	content:"";
	display:block;
	clear:both;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

header {
	text-align:center;
	font-size:3em;
	padding:1em;
	
}
header nav ul li {
	border:1px solid black;
}

#banner {
	background-image:url(../ORIGINALS/banner.jpg);
	height: 200px;
	
	background-position:bottom;
	background-attachment:fixed;
}

.jumbotron {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size:3em;
}

#map {
	width:350px;
	margin:0px auto;
	
}
#mapMover {
	margin: 0px, auto;
}

.link {
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	font-size:2em;

}