

body {
	background-color:#eaeaea;
}

body, div, header, footer, nav, li, img, p, h1, h2, a, ul {
	margin: 0;
	padding:0;
	border:0;
	font-size: 100%;
	vertical-align:baseline;

}

*, *:before, *:after {
	box-sizing:border-box;
	border:0;
}
.clearfix:before, .clearfix:after {
	content:"";
	display:block;
	clear:both;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

header {
	text-align:center;
	font-size:3em;
	padding:1em;
	
}
header nav ul li {
	border:1px solid black;
}

#banner {
	background-image:url(../ORIGINALS/banner.jpg);
	height: 200px;
	
	background-position:bottom;
	background-attachment:fixed;
}


.jumbotron {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size:3em;
}

#map {
	width:350px;
	margin:0px auto;
	
}
#mapMover {
	margin: 0px, auto;
}

.link {
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	font-size:2em;
	margin:50px auto;

}
#wufoo-m6wnb9z0ro0cb9{
	background-color:#fff;
	width:80%;
	border:3px dotted #fff;
	margin:0px auto;
}

.info {
	text-align: center;
	font-size:2em;
	line-height: 2;
	padding:1em;
}

@media (min-width: 480px){
	#banner {
		height:400px;
		background-size:cover;

	}

}

footer {
	margin-top:50px;
	background-color:#000;
	color:#fff;
	position:fixed;
	bottom:0;
	width:100%;
}

a.button {
    background-color:#8dc63f;
    color:#fff;
    padding:10px 15px;
    border-radius:20px;
    text-align:center;
    text-transform:uppercase;
    font-weight:500;
	text-shadow:2px 2px 4px #000;
	margin-top:15px;
	margin-bottom:25px;
}

a.button:hover {
    background-color:#3399FF;
    color:#fff;
    text-decoration:none;
}

